<!DOCTYPE html>
<html>
<title>Spotify Analysis Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">




<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-large w3-green">
    <div class="w3-col s4">
      <a href="#" class="w3-button w3-block">Top</a>
    </div>
    <div class="w3-col s4">
      <a href="#map" class="w3-button w3-block">Map</a>
    </div>
    <div class="w3-col s4">
      <a href="#stats" class="w3-button w3-block">Stats</a>
    </div>
    
  </div>
</div>



<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

	<div class="w3-panel">
    <h1><b>Spotify Data Analysis</b></h1>
    </div>
    
     <div class="w3-row-padding">
        <div class="w3-col m6">
          <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Enter a Song and Artist Name:</h6>
              <p contenteditable="true" class="w3-border w3-padding">Song</p>
              <p contenteditable="true" class="w3-border w3-padding">Artist</p>
              <button onclick="myFunction()" type="button" class="w3-button w3-theme w3-green"><i class="fa fa-pencil"></i> Run Analytics</button> 
              <p id="demo"></p>
			<script>
			function myFunction() {
  			document.getElementById("demo").innerHTML = "Hello World";
            }
			</script>
              
            </div>
          </div>
        </div>
      </div>
      

      
    
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Song Title, Artist</b></h5>
  </header>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px" id="map">
      <div class="w3-half">
        <h5>Regions Most Popular</h5>
        <img src="/w3images/region.jpg" style="width:100%" alt="Google Regional Map">
      </div>
      <div class="w3-half">
        <h5>Countries for this Popularity</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <td>United States</td>
        <td>65%</td>
      </tr>
      <tr>
        <td>UK</td>
        <td>15.7%</td>
      </tr>
      <tr>
        <td>Russia</td>
        <td>5.6%</td>
      </tr>
      <tr>
        <td>Spain</td>
        <td>2.1%</td>
      </tr>
      <tr>
        <td>India</td>
        <td>1.9%</td>
      </tr>
      <tr>
        <td>France</td>
        <td>1.5%</td>
      </tr>
    </table><br>
    <button class="w3-button w3-dark-grey">More Countries  <i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
  <hr>
  <hr>
    
  <br>
  <div class="w3-container w3-black w3-padding-32">
    <div class="w3-row" id = "stats">
      <div class="w3-container w3-half">
        <h5 class="w3-bottombar w3-border-green">Demographic Facts</h5>
        <p>Language</p>
        <p>Country</p>
      </div>
      <div class="w3-container w3-half">
        <h5 class="w3-bottombar w3-border-green">Artist Stats</h5>
        <p>Name</p>
        <p>Country</p>
        <p>Music Genre</p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>FOOTER</h4>
    <p>Click here for some <a href="https://www.google.com" target="_blank">References</a></p>
  </footer>

  <!-- End page content -->
</div>

<script>



}
</script>

</body>
</html>
