<<!DOCTYPE html>
<html lang="en">
<head>
  <title>Charts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<div id="chart">
   <embed type="image/svg+xml" src= {{ chart|safe }} />
</div>

<figure> 
	<img src={{album_image}} alt="text for album caption" />
	<figcaption> {{track_name}} by {{artist_name}} </figcaption>
	<figcaption> {{score_0}} </figcaption>
	<figcaption> {{score_1}} </figcaption>
</figure>

</body>
</html>
