<!DOCTYPE html>
<html lang="en">
<head>
  <title>Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>





<!--Create the Cover Page and Navigation bar-->

<nav class="navbar navbar-inverse w3-green">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="homepage">Home Page</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="search">Search Bar</a>
    </div>
  </div>
</nav>


